*{margin: 0; padding: 0;}
.cabeçalho {background-color: #FF69B4; color: rgb(14, 12, 13); display: flex; justify-content: space-around; padding: 24px 0;}
.cabeçalho-imagem {width: 30%;}
.cabeçalho-item-lista{display: inline-block; margin: 0 16px; padding: 24px 0; font: 24px;}
.Faculdade{background-image:linear-gradient(#FF69B4,#F08080);display:center;justify-content: center; align-items: center;}
